---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 677038f0289f98ce76b129d81d32ae4b/2128783002557456070;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6944,-73.9906",
          "postal": "11201"
        }
  recorded_at: Sun, 30 Sep 2018 16:36:14 GMT
recorded_with: VCR 4.0.0
